In [1]:
import numpy as np
import pandas as pd
from csv_editor import EditCSV
from csv_sub_tasks import CSV_Sub_Tasks

In [ ]:
df = pd.DataFrame()

In [ ]:
csv_ = EditCSV(csv_file_path='students')

In [ ]:
csv_sub_tasks = CSV_Sub_Tasks(csv_=csv_)

In [ ]:
csv_sub_tasks.dropRow()

In [13]:
path = '              test.ipynb '
path = path.strip()
print(path)

test.ipynb

In [2]:
import os
os.startfile('students.csv')

In [3]:
os.system('start students.csv')

0

In [6]:
a = os.system("cls")
a

0

In [4]:
checkCSV = pd.read_csv('check.csv')
checkCSV

Empty DataFrame
Columns: [column_0]
Index: []

In [5]:
len(checkCSV.index)

0

In [6]:
checkCSV.drop('column_0', axis=1, inplace=True)

In [7]:
checkCSV

Empty DataFrame
Columns: []
Index: []

In [12]:
checkCSV.loc[0, 'column_0'] = None

In [13]:
checkCSV

  column_0
0     None

In [14]:
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
df

   A  B
0  1  4
1  2  5
2  3  6

In [15]:
df['A'] = 'B'

In [16]:
df

   A  B
0  B  4
1  B  5
2  B  6